<h2>Edit Objective</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_objective_path(@conn, :update, @current_user.id, @objective) %>

<%= link "Back", to: user_objective_path(@conn, :index, @current_user) %>
