<h2>New Objective</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_objective_path(@conn, :create, @current_user) %>

<%= link "Back", to: objective_path(@conn, :index) %>
