<h2>New Contribution</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_objective_contribution_path(@conn, :create, @current_user, @objective) %>

<%= link "Back", to: user_objective_contribution_path(@conn, :index, @current_user, @objective) %>
